<ion-view view-title="About">

  <ion-content class="has-subheader">
    <ion-list show-delete="data.showDelete">
      <div class="branding">
        <div class="tagline">Contact List</div>
        <br>
        <p>The following contact list works with Realm - noSql database</p>
        <p>Another cool feature is that the WebView is bridged to Android Language by complex mechanism</p>
        <p>Best practices - Android native with Angular Js</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

